= form_for(@message, url: messages_new_path, remote: true, format: :js ) do |f|  
  #error_explanation
    = render 'errors', msg: @message
  .field
    = f.label t('.text')
    %br/
    = f.text_field :text
  .actions
    = f.submit t('.send_message')
